@font-face {
  font-family: Garamond;
  src: url('../font/garamond.tff');

}
.annotator-hl {
  background: #ffcbb5;
}

p {
  font-size: 20px;
}

.nav-sidebar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.nav-sidebar-link {
  color: white;
  float: right;
  text-decoration: none;
}

.nav-sidebar-toggle {
  float: right;
}

.nav-sidebar-link:hover {
  text-decoration: underline;
}

.nav-sidebar > span {
  color: yellow;
}

.nav-sidebar-button-group > a > button {
  width: 140px;
  margin-bottom: 2px;
}

.marginalia__annotation-group {
  background: #ecf4f9;
}

.marginalia__reply-box {
  display: block;
  width: 100%;
}

.marginalia__action-area {
  margin-left: 20px;
}

/* override bootstrap button css */
button {
  line-height: normal;
}

a:hover {
  color: red;
}
